<div class="show-main">
  <div class="show-contents">
  <% if current_user.id == @topic.user_id %>
  <%= link_to '編集', edit_topic_path(@topic.id), method: :get %>
  <%= link_to '削除', topic_path(@topic.id), method: :delete %>
  <% end %>

    <%# 質問内容の表示 %>
    <div class="show-question">
      <div class="show-question__title">
        <%= @topic.topic_title %>
      </div>
      <div class="show-question__content">
        <%= @topic.topic_content %>
      </div>
      <div class="show-question__name">
        <%= link_to @topic.user.name, "/users/#{@topic.user_id}"%> /<%= @topic.user.school_name %>
      </div>
    </div>
  </div>
       

      <%# 回答一覧の表示 %>
      <div class="show-answers">
        <div class="answers-heading">
          <コメント一覧>
        </div>
        <% @comments.each do |comment| %>
          <div class="answer-content">
          <div class="answer-content_delete">
            <%= link_to "削除", topic_comment_path(comment.topic.id, comment.id), method: :delete %>
          </div>
            <div class="answer-content__text">
              <%= comment.comment_content %>
            </div>
            <div class="answer-content__name">
              <%= link_to comment.user.name, "/users/#{comment.user_id}"%> / <%= comment.user.school_name %>
            </div>
          </div>
        <% end %>
      </div>  
  </div>

  <%# コメント投稿フォームの表示 %>
    <div class="show-answer-form">
      <%= form_with(model: [@topic, @comment], local: true) do |f| %>
      <% flash.each do |message_type, message| %>
        <div class="comment_alert"><%= message %></div>
      <% end %>
        <div class="show-answer-form__content">
          <%= f.text_area :comment_content, placeholder: "コメントする", rows: "4" %>
        </div>
        <div class="show-answer-form__submit">
          <%= f.submit "投稿" %>
        </div>
        <% end %>
    </div>
</div>